%btn--template {
    padding: 8px 12px;
    background: gray;
    border: 0;
    border-radius: 4rem;
    font-weight: 400;
    &:hover {
        cursor: pointer;
    }
}


.btn--primary {
    @extend %btn--template;
    background: var(--black);
    color: white;
}

.btn--link {
    @extend %btn--template;
    background: transparent;
    color: var(--black);
}


// sizes
.btn--large {
    padding: 12px 24px;
    font-size: 1.2rem;
}

.btn--small {
    padding: 4px 8px;
}
