.container {
    display: flex;
    justify-content: center;

}

button {
    background: cyan;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 2rem;
}